<div class="card text-center mb-2 p-2" style="width: 180px; height: 420px">
  <div class="cover-thumbnail"><img src="{{ product.image }}" width="100px" height="140px" class="" alt="book cover"></div>
  <div class="card-body px-0 pb-0 d-flex flex-column">

    <h5 class="card-title ">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.author }}</h6>
    <h6 class="mt-auto">
      <a [routerLink]="['/books/', product.id]" class="card-link text-muted">részletek...</a>
    </h6>
    <!-- <p class="card-text">{{product.description}}</p> -->

    <div>
      <h5 class="card-title ">{{ product.price | currency }}</h5>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Készlet: {{ product.stock }} </h6>


    <a href="#" class="btn btn-success btn-sm btn-block">Kosárba</a>
  </div>
</div>