.card {
 &:hover {
   box-shadow: 3px 3px 10px  rgb(189, 180, 180);
   transform: scale(1.02, 1.02);
   transition: transform .3s;
 }
}

.card-link {
  &:hover {
    text-shadow: 5px 5px 5px  rgb(138, 133, 133);

  }
}

.cover-thumbnail {
 &:hover {

   transform: scale(2, 2) translateY(30px);
   transition: transform .3s ease-out;
 }
}
