<div class="card" style="width: 18rem;">
  <img src={{ product.image }} class="card-img-top" alt="book cover">
  <div class="card-body">

    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.author }}</h6>

    <p class="card-text">{{product.description}}</p>

    <h5 class="card-title">{{product.price}} Ft</h5>
    <h6 class="card-subtitle mb-2 text-muted">Készleten: {{ product.stock }} db</h6>

    <a href="#" class="card-link">Részletek</a>

    <a href="#" class="btn btn-primary">Kosárba</a>
  </div>
</div>
