.card {


  &:hover {
    box-shadow: 3px 3px 10px rgb(189, 180, 180);
    transform: scale(1.02, 1.02);
    transition: transform 0.3s;
  }
}

.card-link {
  &:hover {
    text-shadow: 5px 5px 5px rgb(138, 133, 133);
  }
}

.cover-thumbnail {
  &:hover {
    cursor: pointer;
    transform: scale(2, 2) translateY(26px);
    transition: transform 0.3s ease-out;
  }
}

.fullprice {
    text-decoration: line-through;
}

.tooltip1 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: 190px;
  background-color: #eee;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -95px;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
