<div class="card text-center mb-4 p-2" style="width: 200px; height: 450px">
  <div [routerLink]="['/books/', product.id]" class="cover-thumbnail pt-2">
    <img src="{{ product.image }}" width="100px" height="140px" alt="book cover">
  </div>

  <div class="card-body px-2 pb-2 d-flex flex-column">

    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-title mb-2 text-muted">{{ product.author }}</h6>
    <div class="mt-auto tooltip1">

        <p class="tooltiptext">{{product.description | slice:0:240}}....</p>

      <a [routerLink]="['/books/', product.id]" class="card-link text-muted">részletek...</a>
    </div>

    <!-- <p class="card-text">{{product.description}}</p> -->
    <div *ngIf="product.previousPrice">
      <h5 class="card-subtitle text-muted fullprice">{{ product.previousPrice | currency }}</h5>
      <div class="badge badge-danger" style="width: 6rem;">
        Akció!
      </div>
    </div>

    <div>
      <h5 class="card-title ">{{ product.price | currency }}</h5>
    </div>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Készlet: {{ product.stock }} </h6> -->


    <a href="#" class="btn btn-secondary btn-block">
      <i class="fa fa-shopping-cart"></i>
      Kosárba</a>
  </div>
</div>
