<div class="container">

<div class="row">
<div class="text-center fixheader mt-4">

    <div class="col-12">
      <h3>Adminisztrációs oldal</h3>
      <form class="mx-auto">
        <input class="form-control" type="text" placeholder="Keressen a címek között!"
        (keyup)="onChangeSearch($event, 'name')">
        <input class="form-control" type="text" placeholder="Keressen a szerzők között!"
        (keyup)="onChangeSearch($event, 'author')">

      </form>
      <button [routerLink]="['/', 'product-create']" class="btn btn-success btn-block">
        <i class="fa fa-plus-square"></i>
        Új tétel létrehozása
      </button>
    </div>


</div>

  <div class="col-12 col-lg-8 offset-2">
    <table class="table table-dark table-striped mt-5">
      <thead>
        <tr>
          <th> #
            <button class="btn btn-dark" (click)="onClickSort('id')">
              <i class="fa fa-sort"></i>
            </button>
          </th>
          <th> Név
            <button class="btn btn-dark" (click)="onClickSort('name')">
              <i class="fa fa-sort"></i> </button>
            </th>
          <th> Szerző
            <button class="btn btn-dark" (click)="onClickSort('author')">
            <i class="fa fa-sort"></i>
            </button>
          </th>
          <th> Kategória
            <button class="btn btn-dark" (click)="onClickSort('catId')">
              <i class="fa fa-sort"></i>
            </button>
          </th>
          <th> Ár
            <button class="btn btn-dark" (click)="onClickSort('price')">
              <i class="fa fa-sort"></i>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of (list$ | async)! | sort:sortKey | filter:search:filterKey">
          <td> {{ product.id }} </td>
          <td> {{ product.name }} </td>
          <td> {{ product.author }} </td>
          <td> {{ product.catId | converter }} </td>
          <td> {{ product.price | currency }} </td>

          <td>
            <button [routerLink]="['/', 'product-edit', product.id]"
            class="btn btn-info">
            <i class="fa fa-pencil"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
