.table {
  background-color: white;
}

// th .btn {
//   text-align: center;
// }

.fixheader {
  background-color: wheat;
}
.stickys {
  position: sticky;
  background-color: rgb(52, 58, 64);
  top: 35px;
  z-index: 1030;
}
