.form-container {
  background-color: white;
  border: 1px solid black
}

.error-message {
  padding-top: 0.4rem;
  font-style: italic;
  font-size: 0.75rem;
  color: red;
}

label {
  font-weight: bold;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
