<div class="header-container">
  <div class="home-header">
    <img src="./../assets/img/background_lib.jpg" alt="library" class="background">
    <img src="./../assets/img/book2.png" alt="book" class="foreground">
    <div class="title"> <h1 class="col-12 title text-uppercase h-1"> {{ title }} </h1> </div>
    <div class="sub-title"> <p class=" text-uppercase h-5 col-12 col-lg-6 m-lg-4">  Mi nem utáljuk a könyveket amúgy, de szerintem csak azokat nem. <br> <br> Hatalmas választékkal várunk, nagyjából ötvennel. </p> </div>
  </div>
</div>

<h3 class="my-5 text-center home-container">Kiemelt ajánlatunk</h3>
<!-- <app-product-pager [productList]="(productList$ | async)! | category: 'cat-2' | featured: true" class="mb-5">
</app-product-pager> -->
<div class="container-fluid col-md-10 mb-3" style="overflow-x: scroll;">
  <app-product-pager3 [productList]="(productList$ | async)! | category: 'cat-2' | featured: true">
  </app-product-pager3>
</div>

<div class="sale-header text-center mb-5">
  <img src="./../assets/img/background_lib2.jpg" alt="library" class="background">
  <div class="sale-title h3">Bődületes akciók!!! <br>
  <i class="fa fa-arrow-down"></i></div>
</div>


<h3 class="my-5 text-center">Akciós kínálatunk</h3>
<!-- <app-product-pager2 [productList]="(productList$ | async)! | sale">
</app-product-pager2> -->
<div class="container-fluid col-md-10 mb-3" style="overflow-x: scroll;">
<app-product-pager3 [productList]="(productList$ | async)! | sale">
</app-product-pager3>
</div>
