<footer class="justify-center">
  <nav class="navbar navbar-dark bg-dark">

    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-12">

          <div class="nav navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/BiroKrisz"> &copy; Biró Krisztián </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/eaniko"> &copy; Eperjesi Anikó</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/Zolival"> &copy; Szabó Zoltán</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/vpeter1">&copy; Varga Péter</a>
            </li>

          </div>

        </div>
      </div>
    </div>

  </nav>
</footer>
